.main-section {
  width: 100%;
  padding: 0 70px 90px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section__header {
  display: inline-flex;
  justify-content: start;
  align-items: center;

  margin: 110px 0 0;

  width: 100%;
  max-width: 1140px;
  height: 50px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.25;
  color: #fff;

  border-bottom: solid 1px #fff;
}

@media screen and (max-width: 768px) {
  .main-section {
    padding: 0 30px 30px;
  }

  .main-section__header {
    max-width: 668px;
  }
}

@media screen and (max-width: 426px) {
  .main-section {
    padding: 0 0 70px;
  }

  .main-section__header {
    margin: 70px 0 0;

    max-width: 284px;
  }
}